In [ ]:
print("Olá, Mundo")

In [8]:
name = "Henrique"
idade = "28 anos"
print("Meu nome é", name ,"tenho", idade)

Meu nome é Henrique tenho 28 anos

In [10]:
name = "Henrique"
idade = "28"
print("Minha idade é" , str(idade))

Minha idade é 28

In [33]:
name = "Henrique"
anonasc = 1995
anoatual = 2023
print("Nome" , name+".")
print("Idade", anoatual - anonasc , "anos"+".")

Nome Henrique.
Idade 28 anos.

In [3]:
num = 10
print('num =', num)

num = 10

In [18]:
num = ('1 + 2 + 3 + \
4 + 5 + 6 + \
7 + 8 + 9 + 10')
print(num)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10

In [27]:
#Codigo by Foot Cloth
nome = "Henrique"
idade = 28
#idade = 30
nacionalidade = "brasileiro"
print(nome , "," , idade , "," , nacionalidade)

Henrique , 28 , brasileiro

In [1]:
a = 1
print(a)
a = 2
print(a)

1
2

In [2]:
a, b, z = 1, 2, 24
print(a,b,z)

1 2 24

In [3]:
a = b = "Henrique"
print(a,b)

Henrique Henrique

In [4]:
a = "Henrique"
b = 28
a,b = b,a
print(a)
print(b)

28
Henrique

In [7]:
name = "henrique"
#del name
print(name)

henrique

In [4]:
a = 10
print(id(10))
print(id(a))

140727691310152
140727691310152

In [5]:
var1 = 10
var2 = var1
print(id(var1))
print(id(var2))

140727691310152
140727691310152

In [23]:
a = 100
b = "Henrique"
print(a)
print(b)
print(type(a)) #inteiro
print(type(10.5)) #decimal
print(type(name)) #texto ou string
#definição de variaveis
#variaveis inteiras
x = 5
print(x, "has a type", type(x))
#variaveis decimais
y = 256.5
print(y, "has a type" , type(y))
#variaveis complexas
z = 2 + 3j
print(z, "has a type" , type(z))
#variveis true or false
p = True #para true ou false usar sempre primeira letra maiúscula
q = False
print(p, "has a type" , type(p))
print(q, "has a type" , type(q))
#variaveis tipo "String"
name = "Henrique Dias"
print(name, "has a type" , type(name))
#listas
minha_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(minha_lista, "has a type", type(minha_lista))
#dicionario
meu_dicionario = {"Henrique" : 28, "Mara" : 31, "Thaynara" : 14}
print(meu_dicionario, "has a type", type(meu_dicionario))
#set - coleção de valores exclusivos que não possuem ordem
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(my_set, "has a type", type(my_set))

100
Henrique
<class 'int'>
<class 'float'>
<class 'str'>
5 has a type <class 'int'>
256.5 has a type <class 'float'>
(2+3j) has a type <class 'complex'>
True has a type <class 'bool'>
False has a type <class 'bool'>
Henrique Dias has a type <class 'str'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0] has a type <class 'list'>
{'Henrique': 28, 'Mara': 31, 'Thaynara': 14} has a type <class 'dict'>
{1, 2, 3, 4, 5, 6, 7, 8, 9} has a type <class 'set'>

In [9]:
#input
name  = input("Digite seu nome:")
print("Nome:", name)

#entradas
string = input("Digite seu nome:")
numero = int(input("Digite sua idade:"))
decimal = float(input("Digite sua altura:"))

In [8]:
#modulo math
import math
print(math.sin(50))
print(math.cos(75))
print(math.pow(3,3))

#exercicio
nome = input("Digite seu nome:")
idade = int(input("Digite sua idade:"))

print("Olá", nome, "voce tem:", idade, "anos, daqui 10 anos voce tera:", idade+10)
print("Vamos calcular potencia:")
base = int(input("Base:"))
potencia = int(input("Digite um expoente:")) 
print("Resultado", math.pow(base,potencia))

-0.26237485370392877
0.9217512697247493
27.0

Digite seu nome: Henrique
Digite sua idade: 28

Olá Henrique voce tem: 28 anos, daqui 10 anos voce tera: 38
Digite um numero:

Base: 5
Digite um expoente: 4

Resultado 625.0